In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import acquire as a

In [2]:
inshorts_data = a.get_inshorts_data()

Data scraped and saved to CSV.

In [3]:
inshorts_data

,headline,summary,category
0,Some of Jhunjhunwala's best picks were in 2002...,Rare Enterprises CEO Utpal Sheth said some of ...,business
1,Pakistan suspends Russian oil imports over qua...,Pakistan has reportedly suspended imports of R...,business
2,"SEBI bars ZEE's Subhash Chandra, Goenka from b...",SEBI barred Zee Entertainment's Subhash Chandr...,business
3,"In 1989, Jhunjhunwala said India's time has co...",Veteran investor Ramesh Damani said late billi...,business
4,RBI to launch public tech platform for frictio...,RBI on Monday announced it will launch a pilot...,business
...,...,...,...
136,Indians among 500 students stuck as Canada col...,"At least 500 students, including Indians, are ...",education
137,Want him to excel at what he chooses: Vendor w...,"Sujal Singh, a Noida-based towel seller's son,...",education
138,IIM Amendment Bill passed by the Parliament,The Rajya Sabha on Tuesday passed the IIM (Ame...,education
139,22-year-old student dies by suicide 12 days af...,A 22-year-old postgraduate student of the Indi...,education
140,"Income Tax Dept to hire 50 young law, accounta...",The Income Tax Department has decided to tempo...,education